/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: nones;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF RESET */

/* START OF BOX SIZING EFFECT */

* {
  box-sizing: border-box;
}

/* END OF BOX SIZING EFFECT */

.App {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.registration-form button {
  width: 50px;
  margin: auto;
}

h2 {
  font-size: 2.5rem;
  padding: 1rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

.action-button-big {
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  background-color: blue;
  color: white;
  border-radius: 10px;
}

.action-button-small {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: blue;
  color: white;
  border-radius: 10px;
}

.active {
  border-bottom: 2px dotted gray;
}


a {
  text-decoration: none;
  color:rgb(241, 241, 53);
}

h1 {
display: block;
font-size: 4rem;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
padding: 1rem;
}

h3 {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-size: 22px;
}

p {
display: block;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;
font-size: 22px;
}

nav {
display: flex;
justify-content: space-around;
align-items: center;
min-height: 10vh;
background-color: #6194f9;
color: white;
}

.nav-list {
display: flex;
margin-right: 20px;
}

.list-item {
margin-right: 20px;
font-size: 20px;
font-weight: bold;
}

.logo{
margin-right: 20px;
font-size: 29px;
font-weight: bold;
color: white;
}

.banner {
display: flex;
justify-content: center;
background-color: #6194f9;
color: white;
padding-top: 90px;
}

.banner-header {
width: 50%;
}

/* .banner-header h1 {
display: block;
font-size: 3em;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
width: 70%;
line-height: 2;
font-family: Arial, Helvetica, sans-serif;
} */


.button {
width: 200px;
height: 50px;
font-size: 1.5rem;
color: white;
border: 1px solid white;
border-radius: 5px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.button button {
  border: none;
  background: inherit;
  color: inherit;
  font-size: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button.action {
  background: #F9A061;
  color: white;
}
.button.action.small {
  width: 100px;
}
.button.action.blue {
  background: #6194f9;
}

.service-workers {
padding: 30px 0;
display: flex;
flex-direction: column;
}

.service-workers-heading {
margin: 30px;
text-align: center;
/* font-family: Arial, Helvetica, sans-serif; */
}

.service-worker-content {
display: flex;
justify-content: space-evenly;
align-items: center;
padding: 104px;
}

.service-worker-features {
display: flex;
flex-direction: column;
  width: 50%;
  font-size: 24px;
  line-height: 3;
  text-align: initial;
}

.feature-icons {
width: 27px;
height: 26px;
color: white;
}

.users {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  background-color:  #6194f9;
  color: white;
}

.footer{
  background-color:  #6194f9;
  color: white;
  padding: 40px;
  text-align: center;

}

