
a {
    text-decoration: none;
    color:rgb(241, 241, 53);
}

h1 {
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 22px;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-size: 22px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #6194f9;
  color: white;
}

.nav-list {
  display: flex;
  margin-right: 20px;
}

.list-item {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.logo{
  margin-right: 20px;
  font-size: 29px;
  font-weight: bold;
  color: white;
}

.banner {
  display: flex;
  justify-content: center;
  background-color: #6194f9;
  color: white;
  padding-top: 90px;
}

.banner-header {
  width: 50%;
}

.banner-header h1 {
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  width: 70%;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  width: 30%;
  height: 42px;
  font-size: 19px;
  background: rgb(241, 241, 53);
  color: white;
}

.service-workers {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

.service-workers-heading {
  margin: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.service-worker-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 104px;
}

.service-worker-features {
  display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 24px;
    line-height: 3;
    text-align: initial;
}

.feature-icons {
  width: 27px;
  height: 26px;
  color: white;
}

.users {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    background-color:  #6194f9;
    color: white;
}

.footer{
    background-color:  #6194f9;
    color: white;
    padding: 40px;
    text-align: center;

}
